@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700&family=Poppins:wght@300;500;700&family=Roboto:wght@300;400;700&display=swap");
@import url("https://use.fontawesome.com/releases/v6.1.2/css/all.css");

body {
  background-color: CDF5FD;
  color: rgb(40, 40, 40);
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 150%;
}

i {
font-size: 32px;
}

p {
  line-height: 100%;
}

h1 {
  font-size: 32px;
  font-family: "Poppins", sans-serif;
  color: #00a9ff;
}

h2 {
  font-size: 24px;
  font-family: "Poppins", sans-serif;
  color: #89cff3;
}

a {
  text-decoration: none;
}

.img-circle {
  border-radius: 50%;
}

#profile {
  margin: 0 auto;
  display: block;
}

.card {
  background: white;
  padding : 30px;
  border-radius: 25px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0,1);
  margin: 15;
}
.container {
  width: 500px;   /* This sets the width */
  margin: 15 auto; /* This automatically sets left/right margins */
}

.list-inline > li {
  display: inline-block;
  padding: 0px 20px;
  list-style: none;
  padding-left: 0px;
}

.btn-blue {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  color: #fff;
  background-color: #89cff3;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 0 auto;
  display: block;
}

.btn-blue:hover {
  background-color: #00a9ff;
}
